/*-----Generales-----*/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: var(--cfondo);
    font-family: sans-serif;
}

.contenedor{
    /* border: 3px solid red; */
    max-width: 80%;
    margin-top: 10px;
    margin: auto;
}
:root{
    --cfondo:rgb(211, 225, 229);
    --cfondoForm1: rgba(2, 38, 42, 0.39);
    --cfondoForm2: rgb(73, 164, 176);
    --cnegro:black;
    --ctexto:rgb(1, 25, 28);
    --cblanco:white;
    --ctextdark:rgb(1, 35, 39);
    --error:rgb(194, 65, 65);
}

/*Formlario*/
.formulario{
    /* border: 3px solid green; */
    border-top: 3px solid black;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(
        0deg,
        var(--cfondoForm1)0%,
        var(--cfondoForm2)50%
    );
    padding: 20px 30px;
}

.form-titulo{
        font-weight:bold;
        font-size:25px;
        text-align:center;
        margin:0;
        margin-bottom: 10px;
        letter-spacing: 3px;
}

.form-input{
    margin-bottom: 20px;
    
}

.form-input label{
    display: block;
    margin-top:10px ;
    font-size:15px;
    color: var(--ctexto);
}

.form-input input{
    width: 90%;
    border:none;
    outline: none;
    background: none;
    border-bottom: 1px solid var(--ctexto);

}

.form-input input:focus + label{
    font-weight:bold ;
    color: var(--cnegro);

}

[type="checkbox"]{
    display: none;
}
/*para hacer rotar el cuadrado del checked*/
[type="checkbox"]:checked + label::before{
    background: var(--cnegro);
    transition:0.5s;
    transform: rotate(180deg);
}
/*para cambiar el color del label despues de selecionar el checked*/
[type="checkbox"]:checked + label{
    color: var(--cnegro);
}

.term-cond label::before{
    content: "";
    width: 8px;
    height: 8px ;
    border: 1px solid var(--cnegro);
    position: absolute;
    left: -14px;
    top:2px;
}
.term-cond{
    font-size: 13px;
    position: relative;
    margin-left: 15px;
    color: var(--ctexto);
    /* border: 2px solid rebeccapurple; */
}

.form-submit input{
    padding: 10px 50px;
    font-size: 25px;
    color: var(--cblanco);
    background: var(--cnegro);
    display: block;
    margin: auto;
    margin-top: 40px;

}

.form-submit input:hover{
    background: var(--ctextdark);
    transition: 0.5s;
}

.mensaje-error{
    color: var(--error);
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;

}
